<%form_tag new_call_path, :method=>:get  do%>
  <fieldset>
    <legend>Please, chose Controller and Action for testing.</legend>
    <table cellpadding="0" cellspacing="5">
      <tr>
        <td align="right">Controller:</td>
        <td><%=select("call","controller",APP_CONFIG.keys,{:include_blank=>true}, :onchange=>"selectActions(#{APP_CONFIG.to_json},this,'call_action')")%></td>
      </tr>
      <tr>
        <td align="right">Action:</td>
        <td><%=select("call","action",["Select action"], :size=>20)%></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><%=submit_tag("Select")%></td>
      </tr>
    </table>
  </fieldset>
<%end%>